.cardContainer {
  padding-right: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.orderSelectDropDown {
  padding-bottom: 10px;
}

.orderTableHeader {
  padding-top: 0px !important;
  padding-bottom: 10px !important;
}

.orderTableRow {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.upload-btn {
  margin-left: 100px !important;
}
